body,html{
    height: 100%;
    width: 100%;
    margin:0;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; // Corresponds to the Bold 400 style
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
}

.space{
    height: 100%;
    min-height: 600px;
}

.main-background{
    position:absolute;
    height: 100%;
    width: 100%;
}
.main-logo {
    width: 400px;
    height: 600px;
    position: absolute;
    top: 39%;
    left: 50%;
    margin: -200px 0 0 -200px;
}
.date-and-location{
    margin-top: 17px;
    text-align: center;
    color: white;
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

@media screen and (max-width: 567px) {
    .signup-button{
        margin-top: 22px !important;
        border: solid #000;
        border-color: white;
        border-width: 2px;
        padding: 5px 0px 0px 0px;
        color: white;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
    }
}
.signup-button{
    margin-top: 22px !important;
    border: solid #000;
    border-color: white;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
    color: white;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
/*
.signup-button:hover{
    -o-transition:0.5s;
    -ms-transition:0.5s;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    transition:0.5s;
    background-color: white;
    color: #324176;
    cursor: pointer;
}*/

.signup-text{
    font-size:20px!important;
}

.signup-hyper{
    text-decoration:none!important;
}

.about{
    width:100%;
    background-color: white;
}

.about-text{
   text-align:justify;
}

@media screen and (max-width: 767px) {
    .second-location{
        background-color: rgba(8, 76, 140,0.5);
        color: white;
        font-size: 80px;
        padding-top:70px !important;
        padding-bottom:70px !important;
    }
}
.first-location{
    background-color: #12435A;
    opacity: 0.5;
}
.second-location{
    background-color: rgba(8, 76, 140,0.5);
    /*opacity: 0.5;*/
    color: white;
    font-size: 80px;
    padding-top:80px;
}
.second-location-sub{
    font-size: 30px;
}
.third-location{
    background-color: white;
    opacity: 0.5;

}
.fourth-location{
    background-color: white;
}

.location{
    width:100%;
    height: 100%;
    background-color:white;
}
.location-header{
    background-color: white;
}
.theme-header{
    background-color: #084C8C;
    padding-top:20px;
}

.theme-text{
  width: 75%;
}

.first-theme-text{
    position:absolute;
    -webkit-transition: opacity 0.4s;
    text-align:center;
}
.second-theme-text{
    position:absolute;
    opacity:0;
    -webkit-transition: opacity 0.4s;
    text-align:center;

}
.third-theme-text{
    position:absolute;
    opacity:0;
    -webkit-transition: opacity 0.4s;
    text-align:center;

}
.fourth-theme-text{
    position:absolute;
    opacity:0;
    -webkit-transition: opacity 0.4s;
    text-align:center ;

}
.first-theme{
    background-color: rgba(211, 211, 211,0.9);
    color: black;
    cursor: pointer;
}
.first-theme .first-theme-text{
    opacity: 0;
    -webkit-transition: opacity 0.4s;
}

.first-theme:hover .first-theme-text{
    opacity: 1;
    -webkit-transition: opacity 0.4s;
}
.first-theme>.container{
    top: 0px;
    -webkit-transition: top 0.4s;
}

.first-theme:hover>.container{
    top: -80px;
    -webkit-transition: top 0.4s;
}
.second-theme .second-theme-text{
    opacity: 0;
    -webkit-transition: opacity 0.4s;
}

.second-theme:hover .second-theme-text{
    opacity: 1;
    -webkit-transition: opacity 0.4s;
}
.second-theme>.container{
    top: 0px;
    -webkit-transition: top 0.4s;
}

.second-theme:hover>.container{
    top: -80px;
    -webkit-transition: top 0.4s;
}
.third-theme .third-theme-text{
    opacity: 0;
    -webkit-transition: opacity 0.4s;
}

.third-theme:hover .third-theme-text{
    opacity: 1;
    -webkit-transition: opacity 0.4s;
}
.third-theme>.container{
    top: 0px;
    -webkit-transition: top 0.4s;
}

.third-theme:hover>.container{
    top: -80px;
    -webkit-transition: top 0.4s;
}
.fourth-theme .fourth-theme-text{
    opacity: 0;
    -webkit-transition: opacity 0.4s;
}

.fourth-theme:hover .fourth-theme-text{
    opacity: 1;
    -webkit-transition: opacity 0.4s;
}
.fourth-theme>.container{
    top: 0px;
    -webkit-transition: top 0.4s;
}

.fourth-theme:hover>.container{
    top: -70px;
    -webkit-transition: top 0.4s;
}
.second-theme{
    background-color: rgba(211, 211, 211,0.9);
    color: black;
    cursor: pointer;

}
.third-theme{
    background-color: rgba(211, 211, 211,0.9);
    color: black;
    cursor: pointer;

}
.fourth-theme{
    background-color: rgba(211, 211, 211,0.9);
    color: black;
    cursor: pointer;

}
.faq{
    width:100%;
    background-color: rgba(255,255,255,1);
    /*background-color: rgba(18, 67, 90,0.5);*/
}
.faq-card{
    height: 250px;
    border: 15px rgba(255,255,255,0) solid;
}

.faq-que{
  font-size: 16pt;
  font-weight: bold;
}

.faq-ans{
  font-weight: bold;
}

.faq-header{
    background-color: rgba(255,255,255,0);
    height: 100px;
}
.front{
    color:black;
    background-color:lightgrey;
    cursor: pointer;
}

.back{
    color:black;
    background-color:lightgrey;
    cursor: pointer;

}
.sponsors{
    width:100%;
    /*height:1350px;*/
}
.footer{
    width:100%;
    height: 100px;
    background-color:#084C8C;
    padding-bottom: 160px;
}
.sponsors-info{
    margin-top:70px;
    height:100%;
}
.partners-info{
    margin-bottom:100px;
    /*height:0px;*/
}

.map-wrap {
	position:relative;
    margin-bottom: -6px;

}
.overlay {
	width:100%;
	min-height:400px;
	position:absolute;
	top:0;
}
.btn{
    font-size:25px!important;
    color:white;

}
.btn:hover{
    cursor: pointer;
    color:white;
}
.btn:active{
    color:white;
}
.btn:focus{
    color:white;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.tier-1 .logo{
    height: auto;
    width: 1100px;
}
.tier-2 .logo{
    height: auto;
    width: 600px;
}
.tier-3 .logo{
    height: auto;
    width: 350px;
}
.tier-4 .logo{
    height: auto;
    width: 150px;
}

.logo.bitwise{
    height: auto;
    min-width: 350px;
    padding-top: 50px;
}

.logo.github{
    width:auto;
    height:105px;
    margin-top: 20px;
}

.logo.adobe{
    max-height: 190px;
    width: auto;
    margin-top: 40px;
}
.logo.stickermule{
    margin-top:5px;
    height: 60px !important;
    width: auto !important;
}
.logo.fsts{
    height: 170px !important;
    width: auto !important;
}
.logo.fssaem{
    height: 60px !important;
    width: auto !important;
}
.logo.lcoe{
    height: 130px !important;
    width: auto !important;
}
.logo.onesense{
    margin-top:70px;
}
.logo.ieee{
    margin-top:10px;
    height: 80px !important;
    width: auto !important;
}
.logo.microsoft{
    margin-top:20px;
}
.logo.apple{
    height: 80px !important;
    width: auto !important;
}
.logo.cisco{
    margin-top:15px;
    height: 70px !important;
    width: auto !important;
}
.logo.salesforce{
    height: 80px !important;
    width: auto !important;
}
.logo.fusd{
    height: 70px !important;
    width: auto !important;
}
